<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto" style="border-bottom:2px solid rgb(199, 195, 195);">
    <div>
      <img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/07/medical-logo.jpg" height="40px" width="40px" style="margin-bottom:10px;float:left">
      <h3 class="float-md-start mb-0">&nbsp;MediLab Hospital</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="/" style="color:white">Home</a>
        <a class="nav-link" href="#" style="color:white">About</a>
        <a class="nav-link" href="#" style="color:white">Contact</a>
      </nav>
    </div>
  </header>